body{
  margin:0px;

}
@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto/Roboto-Light.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/roboto/Roboto-Light.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto/Roboto-Light.ttf') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto/Roboto-Light.ttf') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/roboto/Roboto-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto/Roboto-Light.ttf') format('svg'); /* Legacy iOS */
}
*:not(i){
    font-family: roboto, helvetica, opensans;
  font-size: $fontSizeNormal;
}


a{text-decoration: none;}