#page-contents{
  padding-top:20px;
  padding-bottom:20px;
}
#sidebar{
  padding-top:20px;
  padding-bottom:20px;
}

#page-contents h2:first-child{
  color:$colorDark;
  position:relative;
  @include font-size(28px);
  font-weight:bold;
  margin-bottom:40px;

}
#page-contents h2:after{
  content:" ";
  border-top:5px solid $colorMainLight;
  margin-top:10px;
  display:block;
  float:right;
  width:50%;
}