/*____________________________fonts*/
/*_____________________END____fonts*/
/*_________________float and direction*/
/*_______________END__float and direction*/
/*__________________________________height_*/
/*_______________________________End___height_*/
/*________________________________________background_gradient*/
/*________________________________________background_gradient*/
/*_________________________________________shadow_images*/
body {
  margin: 0px; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto/Roboto-Light.ttf");
  /* IE9 Compat Modes */
  src: url("../fonts/roboto/Roboto-Light.ttf?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Light.ttf") format("woff2"), url("../fonts/roboto/Roboto-Light.ttf") format("woff"), url("../fonts/roboto/Roboto-Light.ttf") format("truetype"), url("../fonts/roboto/Roboto-Light.ttf") format("svg");
  /* Legacy iOS */ }
*:not(i) {
  font-family: roboto, helvetica, opensans;
  font-size: 14px; }

a {
  text-decoration: none; }

.row {
  margin: 0px; }

.button, .whiteButton {
  text-align: center;
  display: block;
  padding: 5px 10px;
  color: #ffffff; }

.mainButton {
  display: inline-block;
  padding: 5px 10px;
  background-color: #038d8d;
  background-color: #038d8d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#038d8d), to(#095756));
  background-image: -webkit-linear-gradient(top, #038d8d, #095756);
  background-image: -moz-linear-gradient(top, #038d8d, #095756);
  background-image: -ms-linear-gradient(top, #038d8d, #095756);
  background-image: -o-linear-gradient(top, #038d8d, #095756);
  background-image: linear-gradient(top, #038d8d, #095756);
  filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#038d8d', end-colourStr='#095756');
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: lighter;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer; }
  .mainButton:hover {
    text-decoration: none;
    color: #ffffff; }

.secondaryButton {
  display: inline-block;
  padding: 5px 10px;
  background-color: #44596a;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer; }
  .secondaryButton:hover {
    text-decoration: none;
    color: #ffffff; }

.horizMenu {
  margin: 0px; }
  .horizMenu li {
    list-style: none;
    float: left; }

.horizLine {
  background-color: #038d8d;
  background-color: #038d8d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#038d8d), to(#095756));
  background-image: -webkit-linear-gradient(top, #038d8d, #095756);
  background-image: -moz-linear-gradient(top, #038d8d, #095756);
  background-image: -ms-linear-gradient(top, #038d8d, #095756);
  background-image: -o-linear-gradient(top, #038d8d, #095756);
  background-image: linear-gradient(top, #038d8d, #095756);
  filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#038d8d', end-colourStr='#095756');
  border-top: 1px solid #ffffff;
  min-height: 10px;
  line-height: 1; }

.textWithHeaderDiv {
  text-align: center; }
  .textWithHeaderDiv h3 {
    color: #095756;
    margin: 0px;
    font-size: 32px;
    font-size: 2rem; }
  .textWithHeaderDiv p {
    margin: 0px; }
  .textWithHeaderDiv .readMore {
    color: #038d8d;
    display: block;
    text-align: right;
    text-decoration: none;
    cursor: pointer; }

.whiteButton {
  background-color: #F5F5F5;
  color: #038d8d;
  border: 1px solid #ffffff; }
  .whiteButton:hover {
    text-decoration: none; }

.smallTextDiv {
  text-align: center; }
  .smallTextDiv p {
    font-size: 10px; }

/*_______________pages */
#headerWatchRow {
  background-color: #98a4ad;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#98a4ad), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #98a4ad, #ffffff);
  background-image: -moz-linear-gradient(top, #98a4ad, #ffffff);
  background-image: -ms-linear-gradient(top, #98a4ad, #ffffff);
  background-image: -o-linear-gradient(top, #98a4ad, #ffffff);
  background-image: linear-gradient(top, #98a4ad, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#98a4ad', end-colourStr='#ffffff'); }
  #headerWatchRow #watchDiv {
    padding: 2px 0px;
    text-align: center; }
    #headerWatchRow #watchDiv #watchUl {
      padding: 0px;
      margin: 0px;
      display: inline-block;
      margin: auto; }
      #headerWatchRow #watchDiv #watchUl li {
        list-style: none;
        float: left; }
        #headerWatchRow #watchDiv #watchUl li a {
          text-decoration: none; }
      #headerWatchRow #watchDiv #watchUl li {
        padding: 0px 10px; }
        #headerWatchRow #watchDiv #watchUl li.oneBorder {
          border-right: 1px solid #038d8d; }
        #headerWatchRow #watchDiv #watchUl li .cityName {
          color: #44596a;
          font-weight: bold;
          font-size: 10px; }
        #headerWatchRow #watchDiv #watchUl li .cityHour {
          color: #44596a;
          font-size: 10px; }
        #headerWatchRow #watchDiv #watchUl li .cityIcon {
          width: 17px;
          height: 17px;
          color: #038d8d; }

#logoRow {
  padding: 40px 0;
  overflow: auto; }
  #logoRow #headerLogoDiv {
    float: left;
    width: 150px; }
    #logoRow #headerLogoDiv img {
      max-width: 100%; }
  #logoRow #headerBesideLogin {
    float: right;
    margin-top: 20px; }
    #logoRow #headerBesideLogin * {
      color: #ffffff; }
    #logoRow #headerBesideLogin #headerSearchDiv {
      float: left; }
      #logoRow #headerBesideLogin #headerSearchDiv #searchInput {
        height: 30px;
        width: 100px;
        float: right;
        margin: 0px 10px;
        text-align: center;
        border: none;
        color: #ffffff;
        background-color: #038d8d;
        background-color: #038d8d;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#038d8d), to(#095756));
        background-image: -webkit-linear-gradient(top, #038d8d, #095756);
        background-image: -moz-linear-gradient(top, #038d8d, #095756);
        background-image: -ms-linear-gradient(top, #038d8d, #095756);
        background-image: -o-linear-gradient(top, #038d8d, #095756);
        background-image: linear-gradient(top, #038d8d, #095756);
        filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#038d8d', end-colourStr='#095756'); }
        #logoRow #headerBesideLogin #headerSearchDiv #searchInput::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #ffffff; }
        #logoRow #headerBesideLogin #headerSearchDiv #searchInput::-moz-placeholder {
          /* Firefox 19+ */
          color: #ffffff; }
        #logoRow #headerBesideLogin #headerSearchDiv #searchInput:-ms-input-placeholder {
          /* IE 10+ */
          color: #ffffff; }
        #logoRow #headerBesideLogin #headerSearchDiv #searchInput:-moz-placeholder {
          /* Firefox 18- */
          color: #ffffff; }
      #logoRow #headerBesideLogin #headerSearchDiv button {
        height: 30px;
        width: 30px;
        float: right;
        border: none;
        background-color: #44596a;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        border-radius: 100%; }
    #logoRow #headerBesideLogin #headerLangDiv {
      float: left; }
      #logoRow #headerBesideLogin #headerLangDiv select {
        background-color: #44596a;
        height: 30px;
        padding: 5px;
        font-size: 10px; }

#headerMenuRow {
  background-color: #44596a;
  text-align: center; }
  #headerMenuRow #mainMenuDiv {
    display: inline-block;
    margin: 10px 0px; }
    #headerMenuRow #mainMenuDiv #mainMenuUl {
      padding: 0px;
      margin: 0px; }
      #headerMenuRow #mainMenuDiv #mainMenuUl li {
        list-style: none;
        float: left; }
        #headerMenuRow #mainMenuDiv #mainMenuUl li a {
          text-decoration: none; }
      #headerMenuRow #mainMenuDiv #mainMenuUl > li > a {
        color: #ffffff;
        padding: 5px 10px;
        text-align: center;
        font-size: 24px;
        font-size: 1.5rem; }
      #headerMenuRow #mainMenuDiv #mainMenuUl > li:hover .zeroSubmenuDiv {
        overflow: visible; }
  #headerMenuRow .zeroSubmenuDiv {
    width: 100%;
    height: 0 !important;
    overflow: hidden;
    min-width: 100%;
    position: relative; }
    #headerMenuRow .zeroSubmenuDiv .subMenuDiv {
      position: absolute;
      top: 0px;
      left: 0px;
      min-width: 200%;
      background-color: #44596a;
      z-index: 100000;
      display: block;
      padding-top: 20px; }
      #headerMenuRow .zeroSubmenuDiv .subMenuDiv .submenuUl {
        margin: 0px;
        padding: 0px;
        width: 100%; }
        #headerMenuRow .zeroSubmenuDiv .subMenuDiv .submenuUl li {
          width: 100%; }
          #headerMenuRow .zeroSubmenuDiv .subMenuDiv .submenuUl li a {
            display: block;
            width: 100%;
            text-align: left;
            padding: 5px 10px;
            color: #ffffff;
            border-bottom: 1px solid #038d8d; }
          #headerMenuRow .zeroSubmenuDiv .subMenuDiv .submenuUl li:hover a {
            background-color: #038d8d; }

#sliderRow {
  height: 500px; }
  #sliderRow .sliderContainer .sliderInnerContainer {
    background-image: url(../images/slider/Banner_bg_1.png);
    background-size: 100% 100%;
    position: relative;
    height: 500px;
    overflow: hidden; }
    #sliderRow .sliderContainer .sliderInnerContainer .oneSlideDiv {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 500px;
      width: 100%; }
      #sliderRow .sliderContainer .sliderInnerContainer .oneSlideDiv .oneSlideInnerDiv .div_img_1 {
        float: left;
        z-index: 2;
        position: absolute;
        bottom: 0px;
        width: 45%; }
        #sliderRow .sliderContainer .sliderInnerContainer .oneSlideDiv .oneSlideInnerDiv .div_img_1 img {
          max-width: 100%;
          height: 480px;
          padding-top: 10px;
          float: right; }
      #sliderRow .sliderContainer .sliderInnerContainer .oneSlideDiv .oneSlideInnerDiv .div_text_1 {
        z-index: 1;
        float: left;
        position: absolute;
        bottom: 170px;
        left: 40%; }
        #sliderRow .sliderContainer .sliderInnerContainer .oneSlideDiv .oneSlideInnerDiv .div_text_1 p {
          padding: 5px 40px;
          background-color: #44596a;
          color: #ffffff;
          font-size: 32px;
          text-transform: capitalize; }
        #sliderRow .sliderContainer .sliderInnerContainer .oneSlideDiv .oneSlideInnerDiv .div_text_1 span {
          color: #44596a;
          font-size: 32px;
          padding-left: 40px; }
      #sliderRow .sliderContainer .sliderInnerContainer .oneSlideDiv .oneSlideInnerDiv .div_button_1 {
        position: absolute;
        bottom: 100px;
        left: 45%; }
        #sliderRow .sliderContainer .sliderInnerContainer .oneSlideDiv .oneSlideInnerDiv .div_button_1 .mainButton {
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          border-radius: 5px;
          padding: 5px 50px; }
      #sliderRow .sliderContainer .sliderInnerContainer .oneSlideDiv .oneSlideInnerDiv .div_img_2 {
        position: absolute;
        bottom: 0px;
        right: 10%;
        width: 28%;
        z-index: 2; }
        #sliderRow .sliderContainer .sliderInnerContainer .oneSlideDiv .oneSlideInnerDiv .div_img_2 img {
          height: 480px;
          padding-top: 10px;
          float: left; }

#openAccountButtonsRow {
  text-align: center;
  background-color: #44596a;
  margin-bottom: 40px;
  line-height: 1; }
  #openAccountButtonsRow #buttonsDiv {
    position: relative;
    display: inline-block;
    background-color: #ffffff;
    min-width: 60%;
    margin-bottom: -40px;
    margin-top: 40px;
    border: 1px solid #cdcdcd; }
    #openAccountButtonsRow #buttonsDiv:after {
      position: absolute;
      bottom: 0px;
      right: 0;
      display: block;
      height: 20px;
      margin-bottom: -20px;
      width: 100%;
      background-image: url("../images/shadows/open_account_shadow.png");
      background-repeat: no-repeat;
      background-size: 100% 20px;
      content: ""; }
    #openAccountButtonsRow #buttonsDiv .oneButtonDiv {
      width: 50%;
      padding: 10px;
      float: left; }
      #openAccountButtonsRow #buttonsDiv .oneButtonDiv .mainButton {
        padding: 10px 20px; }
      #openAccountButtonsRow #buttonsDiv .oneButtonDiv .secondaryButton {
        padding: 10px 20px; }

#platformsRow {
  border-top: 2px solid #cdcdcd;
  border-bottom: 2px solid #cdcdcd;
  background-color: #F5F5F5;
  margin: 80px 0px; }
  #platformsRow #linksListArrowDiv .linksDiv {
    position: relative;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 20px 100%; }
    #platformsRow #linksListArrowDiv .linksDiv:after {
      position: absolute;
      bottom: 0px;
      right: 0px;
      display: block;
      width: 30px;
      height: 100%;
      background-image: url("../images/shadows/v_shadow.png");
      background-repeat: no-repeat;
      background-size: 30px 100%;
      z-index: 2;
      content: ""; }
    #platformsRow #linksListArrowDiv .linksDiv a {
      display: block;
      text-align: center;
      font-size: 18px;
      font-size: 1.125rem;
      color: #44596a;
      position: relative;
      padding: 10px 0px;
      width: 75%;
      margin-left: 25%;
      text-align: left;
      padding-left: 10px; }
      #platformsRow #linksListArrowDiv .linksDiv a:hover {
        background-color: #038d8d;
        background-color: #038d8d;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#038d8d), to(#095756));
        background-image: -webkit-linear-gradient(top, #038d8d, #095756);
        background-image: -moz-linear-gradient(top, #038d8d, #095756);
        background-image: -ms-linear-gradient(top, #038d8d, #095756);
        background-image: -o-linear-gradient(top, #038d8d, #095756);
        background-image: linear-gradient(top, #038d8d, #095756);
        filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#038d8d', end-colourStr='#095756');
        color: #ffffff;
        text-decoration: none;
        position: relative; }
        #platformsRow #linksListArrowDiv .linksDiv a:hover:before {
          background-image: url(../images/arrow_head.png);
          float: right;
          height: 100%;
          width: 25px;
          position: absolute;
          right: 0px;
          top: 0px;
          content: ""; }
        #platformsRow #linksListArrowDiv .linksDiv a:hover:after {
          position: absolute;
          bottom: 0px;
          right: 0;
          display: block;
          height: 20px;
          margin-bottom: -20px;
          width: 100%;
          background-image: url("../images/shadows/h_shadow.png");
          background-repeat: no-repeat;
          background-size: 100% 20px;
          content: ""; }
  #platformsRow .textWithHeaderDiv p {
    text-align: justify; }
  #platformsRow .imgContainer img {
    margin-top: -50px;
    margin-bottom: -50px;
    max-width: 100%; }

#bigImageRow #bigImageDiv {
  text-align: center; }
  #bigImageRow #bigImageDiv img {
    display: block;
    margin: 20px auto; }

#tradeAccountsRow {
  margin: 60px 0px;
  background-image: url("../images/trading_accounts_bg.png");
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 350px;
  overflow: visible;
  margin-bottom: 200px;
  padding-top: 15px; }
  #tradeAccountsRow #tradeInnerContainer .textWithHeaderDiv {
    margin: 30px 0px; }
    #tradeAccountsRow #tradeInnerContainer .textWithHeaderDiv p {
      line-height: 25px; }
  #tradeAccountsRow #tradeInnerContainer #accountsColumnsDiv .oneAccountColumn {
    background-color: #378d8c; }
    #tradeAccountsRow #tradeInnerContainer #accountsColumnsDiv .oneAccountColumn header {
      background-color: #378d8c;
      padding: 10px;
      min-height: 95px; }
      #tradeAccountsRow #tradeInnerContainer #accountsColumnsDiv .oneAccountColumn header .whiteButton {
        width: 80%;
        margin: -30px 10% 10px 10%;
        font-size: 24px;
        font-size: 1.5rem;
        color: #095756; }
      #tradeAccountsRow #tradeInnerContainer #accountsColumnsDiv .oneAccountColumn header p {
        color: #ffffff; }
    #tradeAccountsRow #tradeInnerContainer #accountsColumnsDiv .oneAccountColumn section {
      padding: 10px;
      color: #ffffff;
      background-color: #095756; }
      #tradeAccountsRow #tradeInnerContainer #accountsColumnsDiv .oneAccountColumn section .optionsList {
        margin: 0px;
        padding: 0px; }
        #tradeAccountsRow #tradeInnerContainer #accountsColumnsDiv .oneAccountColumn section .optionsList li {
          list-style: none; }
          #tradeAccountsRow #tradeInnerContainer #accountsColumnsDiv .oneAccountColumn section .optionsList li .fa {
            color: #038d8d;
            font-size: 10px;
            font-size: 0.625rem; }
    #tradeAccountsRow #tradeInnerContainer #accountsColumnsDiv .oneAccountColumn footer {
      padding: 10px;
      color: #ffffff;
      background-color: #378d8c; }
      #tradeAccountsRow #tradeInnerContainer #accountsColumnsDiv .oneAccountColumn footer .linkDiv .rightButton {
        position: relative; }
        #tradeAccountsRow #tradeInnerContainer #accountsColumnsDiv .oneAccountColumn footer .linkDiv .rightButton:after {
          position: absolute;
          bottom: 0px;
          right: 0;
          display: block;
          height: 20px;
          margin-bottom: -20px;
          width: 100%;
          background-image: url("../images/shadows/right_button_shdow.png");
          background-repeat: no-repeat;
          background-size: 100% 20px;
          content: ""; }
      #tradeAccountsRow #tradeInnerContainer #accountsColumnsDiv .oneAccountColumn footer .linkDiv .leftButton {
        position: relative; }
        #tradeAccountsRow #tradeInnerContainer #accountsColumnsDiv .oneAccountColumn footer .linkDiv .leftButton:after {
          position: absolute;
          bottom: 0px;
          right: 0;
          display: block;
          height: 20px;
          margin-bottom: -20px;
          width: 100%;
          background-image: url("../images/shadows/left_button_shadow.png");
          background-repeat: no-repeat;
          background-size: 100% 20px;
          content: ""; }
      #tradeAccountsRow #tradeInnerContainer #accountsColumnsDiv .oneAccountColumn footer .linkDiv .whiteButton {
        width: 80%;
        margin: 10px 10% -30px 10%;
        font-size: 24px;
        font-size: 1.5rem;
        color: #095756; }

#calendarSpreadRow {
  margin-bottom: 50px; }
  #calendarSpreadRow .col-xs-8 {
    line-height: 1; }
    #calendarSpreadRow .col-xs-8 .partTitle {
      text-align: center;
      color: #038d8d;
      font-size: 32px;
      font-size: 2rem; }
    #calendarSpreadRow .col-xs-8 table {
      width: 100%; }
      #calendarSpreadRow .col-xs-8 table thead tr th {
        text-align: center;
        padding: 2px 5px;
        font-weight: normal;
        color: #000; }
      #calendarSpreadRow .col-xs-8 table tbody tr {
        border-top: 5px solid #ffffff; }
        #calendarSpreadRow .col-xs-8 table tbody tr img {
          width: 30px;
          height: 20px; }
        #calendarSpreadRow .col-xs-8 table tbody tr .priority {
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          border-radius: 5px;
          text-align: center;
          color: #ffffff;
          width: 80%;
          margin: 3px 10%;
          padding: 2px; }
          #calendarSpreadRow .col-xs-8 table tbody tr .priority.low {
            background-color: #095756; }
          #calendarSpreadRow .col-xs-8 table tbody tr .priority.medium {
            background-color: #cca152; }
          #calendarSpreadRow .col-xs-8 table tbody tr .priority.high {
            background-color: #ff664c; }
        #calendarSpreadRow .col-xs-8 table tbody tr .dateDiv {
          padding: 2px;
          font-size: 8px;
          text-align: center;
          color: #ffffff; }
        #calendarSpreadRow .col-xs-8 table tbody tr td {
          padding: 2px 5px; }
      #calendarSpreadRow .col-xs-8 table tbody .oddTableRow {
        background-color: #FBFBFB; }
        #calendarSpreadRow .col-xs-8 table tbody .oddTableRow td .dateDiv {
          background-color: #5c5c5c; }
      #calendarSpreadRow .col-xs-8 table tbody .evenTableRow {
        background-color: #F5F5F5; }
        #calendarSpreadRow .col-xs-8 table tbody .evenTableRow td .dateDiv {
          background-color: #038d8d; }
  #calendarSpreadRow .col-xs-4 {
    text-align: center; }
    #calendarSpreadRow .col-xs-4 .partTitle {
      text-align: center;
      color: #038d8d;
      font-size: 32px;
      font-size: 2rem; }
    #calendarSpreadRow .col-xs-4 .oneSpreadDiv .symbolNameDiv {
      font-size: 14px; }
      #calendarSpreadRow .col-xs-4 .oneSpreadDiv .symbolNameDiv .fa {
        font-size: 14px; }
    #calendarSpreadRow .col-xs-4 .oneSpreadDiv .bidAskAllDiv {
      display: block;
      width: 100%;
      height: 35px; }
      #calendarSpreadRow .col-xs-4 .oneSpreadDiv .bidAskAllDiv .onePrice {
        width: 50%;
        float: left;
        padding: 0px 5px; }
        #calendarSpreadRow .col-xs-4 .oneSpreadDiv .bidAskAllDiv .onePrice > span {
          font-size: 8px;
          text-align: right;
          display: block;
          padding-right: 3px; }
        #calendarSpreadRow .col-xs-4 .oneSpreadDiv .bidAskAllDiv .onePrice .changeDiv {
          line-height: 10px; }
          #calendarSpreadRow .col-xs-4 .oneSpreadDiv .bidAskAllDiv .onePrice .changeDiv .bigNumber {
            font-size: 18px;
            float: left; }
          #calendarSpreadRow .col-xs-4 .oneSpreadDiv .bidAskAllDiv .onePrice .changeDiv .smallNumber {
            font-size: 10px; }
        #calendarSpreadRow .col-xs-4 .oneSpreadDiv .bidAskAllDiv .onePrice.bidDiv {
          border-right: 1px solid #038d8d; }
    #calendarSpreadRow .col-xs-4 .oneSpreadDiv .binDiv {
      display: block;
      text-align: center;
      margin-top: 10px; }
      #calendarSpreadRow .col-xs-4 .oneSpreadDiv .binDiv .bin {
        display: online-block;
        border-top: 1px solid #038d8d;
        padding-top: 10px; }
    #calendarSpreadRow .col-xs-4 .oneSpreadDiv.up .symbolNameDiv .fa {
      color: #038d8d; }
      #calendarSpreadRow .col-xs-4 .oneSpreadDiv.up .symbolNameDiv .fa:before {
        content: "\f0d8"; }
    #calendarSpreadRow .col-xs-4 .oneSpreadDiv.up .bigNumber {
      color: #038d8d; }
    #calendarSpreadRow .col-xs-4 .oneSpreadDiv.up .smallNumber {
      color: #038d8d; }
    #calendarSpreadRow .col-xs-4 .oneSpreadDiv.down .symbolNameDiv .fa {
      color: #ff664c; }
      #calendarSpreadRow .col-xs-4 .oneSpreadDiv.down .symbolNameDiv .fa:before {
        content: "\f0d7"; }
    #calendarSpreadRow .col-xs-4 .oneSpreadDiv.down .bigNumber {
      color: #ff664c; }
    #calendarSpreadRow .col-xs-4 .oneSpreadDiv.down .smallNumber {
      color: #ff664c; }
    #calendarSpreadRow .col-xs-4 .mainButton {
      margin-top: 15px;
      padding: 2px 25px; }

#partnershipRow {
  text-align: center;
  background-image: url("../images/True4x_partnership_bg.png");
  background-size: 100% 100%;
  padding: 30px 0px; }
  #partnershipRow .textWithHeaderDiv p {
    margin: 10px 0px;
    color: white; }
  #partnershipRow .textWithHeaderDiv .lineMenuDiv ul {
    padding: 0px;
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    margin: auto; }
    #partnershipRow .textWithHeaderDiv .lineMenuDiv ul li {
      list-style: none;
      float: left; }
      #partnershipRow .textWithHeaderDiv .lineMenuDiv ul li a {
        text-decoration: none; }
    #partnershipRow .textWithHeaderDiv .lineMenuDiv ul li a {
      padding: 5px 15px;
      color: black; }

#ourPartnersPaymentRow .tableDiv {
  display: table;
  margin: 15px 0px; }
  #ourPartnersPaymentRow .tableDiv .oneCellDiv {
    display: table-cell;
    width: 11%;
    min-width: auto !important;
    float: left; }
    #ourPartnersPaymentRow .tableDiv .oneCellDiv img {
      max-width: 100%; }
    #ourPartnersPaymentRow .tableDiv .oneCellDiv label {
      color: #038d8d;
      font-size: 18px;
      font-size: 1.125rem;
      padding: 15px 0px 0px 5px; }
    #ourPartnersPaymentRow .tableDiv .oneCellDiv.withOneBorder {
      border-right: 1px solid #038d8d; }

#bottomColumnsMenu {
  background-color: #44596a;
  padding: 20px 0px; }
  #bottomColumnsMenu .oneColumnMenuDiv {
    width: 20%;
    float: left; }
    #bottomColumnsMenu .oneColumnMenuDiv h5 {
      color: #038d8d; }
    #bottomColumnsMenu .oneColumnMenuDiv ul {
      margin: 0px;
      padding: 0px; }
      #bottomColumnsMenu .oneColumnMenuDiv ul li {
        list-style: none; }
        #bottomColumnsMenu .oneColumnMenuDiv ul li a {
          color: #ffffff; }

#bottomLogoRow {
  text-align: center;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 5px solid #44596a; }
  #bottomLogoRow .bottomLogoDiv img {
    max-width: 100%; }
  #bottomLogoRow .bottomHorzMenu {
    display: inline-block; }
    #bottomLogoRow .bottomHorzMenu ul {
      padding: 0px;
      margin: 0px;
      margin-top: 25px;
      display: inline-block; }
      #bottomLogoRow .bottomHorzMenu ul li {
        list-style: none;
        float: left; }
        #bottomLogoRow .bottomHorzMenu ul li a {
          text-decoration: none; }
      #bottomLogoRow .bottomHorzMenu ul li a {
        padding: 0px 10px;
        display: block;
        color: #44596a; }
      #bottomLogoRow .bottomHorzMenu ul .rightBorder {
        border-right: 1px solid #44596a;
        font-size: 10px;
        font-size: 0.625rem; }
  #bottomLogoRow .bottomSocialIconsDiv .oneSocialIcon {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    padding: 5px;
    padding-top: 5px;
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 24px;
    font-size: 1.5rem;
    margin-top: 20px; }
    #bottomLogoRow .bottomSocialIconsDiv .oneSocialIcon.facebook {
      background-color: #375597; }
    #bottomLogoRow .bottomSocialIconsDiv .oneSocialIcon.twitter {
      background-color: #3593ff; }
    #bottomLogoRow .bottomSocialIconsDiv .oneSocialIcon.youtube {
      background-color: #ff664c; }
    #bottomLogoRow .bottomSocialIconsDiv .oneSocialIcon.v {
      background-color: #5bc8ff; }
    #bottomLogoRow .bottomSocialIconsDiv .oneSocialIcon .fa {
      color: #ffffff; }

#copyRightsRow {
  background-color: #038d8d;
  background-color: #038d8d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#038d8d), to(#095756));
  background-image: -webkit-linear-gradient(top, #038d8d, #095756);
  background-image: -moz-linear-gradient(top, #038d8d, #095756);
  background-image: -ms-linear-gradient(top, #038d8d, #095756);
  background-image: -o-linear-gradient(top, #038d8d, #095756);
  background-image: linear-gradient(top, #038d8d, #095756);
  filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#038d8d', end-colourStr='#095756');
  border-top: 1px solid #ffffff;
  border-bottom: 3px solid #ffffff; }
  #copyRightsRow .copyRightsDiv {
    float: left;
    color: #ffffff;
    padding: 5px;
    font-size: 10px;
    font-size: 0.625rem; }
  #copyRightsRow .powerDiv {
    float: right;
    color: #ffffff;
    padding: 5px;
    font-size: 10px;
    font-size: 0.625rem; }

#page-contents {
  padding-top: 20px;
  padding-bottom: 20px; }

#sidebar {
  padding-top: 20px;
  padding-bottom: 20px; }

#page-contents h2:first-child {
  color: #44596a;
  position: relative;
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 40px; }

.page {
  /*width:700px;*/ }

.page .mainInnerHeaderText .innerPageHeader {
  color: #384656; }

.page .mainInnerHeaderText .innerPageHeader:before {
  content: " ";
  display: block;
  width: 100%;
  margin-top: 10px;
  border-bottom: 5px solid #089594; }

.page .mainInnerHeaderText .innerPageHeader:after {
  clear: both;
  width: 100%;
  display: block;
  content: " "; }

.page .mainInnerHeaderText .innerPageHeader h2 {
  float: left;
  margin-top: -20px;
  display: inline-block;
  padding: 5px;
  background-color: #ffffff; }

.page .mainInnerHeaderText p {
  clear: both; }

.innerSectionWithHeader {
  clear: both; }

.innerSectionWithHeader h3, .innerArticleHeader {
  color: #089594;
  font-size: 18px; }

.page .innerArticleHeaderDark {
  color: #44596a; }

.innerHLine {
  width: 100%;
  line-height: 0px;
  border-bottom: 2px solid #44596a;
  margin: 25px 0px;
  clear: both; }

.menuWithDots {
  margin: 0px;
  padding: 0px; }

.menuWithDots li {
  list-style: none;
  overflow: visible; }

.menuWithDots li:before {
  content: "\f111";
  font: normal normal normal 14px/1 FontAwesome;
  margin-right: 5px;
  margin-top: 5px;
  font-size: 8px;
  float: left;
  color: #089594; }

/*________________________________table*/
.generalTable {
  border-radius: 10px;
  border: 1px solid #374557;
  width: 100%; }

.generalTable td, .generalTable th {
  margin: 0px;
  padding: 5px; }

.generalTable td {
  color: #374557; }

.headerTh, .generalTable th {
  background-color: #374557;
  color: #ffffff !important; }

.normalHeaderTh {
  background-color: #b7b7b7;
  color: #374557; }

.markedCell {
  background-color: #bcbcbc;
  text-align: center; }

/*____________________________END____table*/
.redBox {
  border: 2px solid #f00;
  border-radius: 5px;
  padding: 10px 40px;
  width: 100%;
  margin: 20px 0px; }

/*_______________________________________________banner*/
#innerPagesMainBanner {
  background-image: url(/cms_assets/true4x/public/images/banner_1.jpg);
  width: 100%;
  height: 300px; }

/*__________________________________________END_____banner*/
.page .yellowButton {
  background-color: #ffbe46;
  color: #ffffff;
  width: 300px;
  display: block;
  margin: 10px auto;
  padding: 10px 0px;
  text-align: center;
  border: none;
  position: relative; }

.page .yellowButton:after {
  position: absolute;
  bottom: 0px;
  right: 0;
  display: block;
  height: 20px;
  margin-bottom: -20px;
  width: 100%;
  background-image: url("../images/shadows/open_account_shadow.png");
  background-repeat: no-repeat;
  background-size: 100% 20px;
  content: ""; }

#sideButtonsAllDiv #innerSideButtonsAllDiv p {
  color: #44596a;
  text-align: center; }
#sideButtonsAllDiv #innerSideButtonsAllDiv #sideDemoLiveAccountsDiv .oneButtonDiv {
  position: relative;
  margin: 30px 0px; }
  #sideButtonsAllDiv #innerSideButtonsAllDiv #sideDemoLiveAccountsDiv .oneButtonDiv:after {
    position: absolute;
    bottom: 0px;
    right: 0;
    display: block;
    height: 20px;
    margin-bottom: -20px;
    width: 100%;
    background-image: url("../images/shadows/open_account_shadow.png");
    background-repeat: no-repeat;
    background-size: 100% 20px;
    content: ""; }
  #sideButtonsAllDiv #innerSideButtonsAllDiv #sideDemoLiveAccountsDiv .oneButtonDiv .mainButton {
    width: 100%;
    text-align: center; }
  #sideButtonsAllDiv #innerSideButtonsAllDiv #sideDemoLiveAccountsDiv .oneButtonDiv .secondaryButton {
    width: 100%;
    text-align: center; }
#sideButtonsAllDiv #innerSideButtonsAllDiv #tradTipsNoteDiv .imgContainer {
  margin: 30px 0px 0px 0px; }
  #sideButtonsAllDiv #innerSideButtonsAllDiv #tradTipsNoteDiv .imgContainer img {
    display: block;
    margin: auto;
    max-width: 30%; }
#sideButtonsAllDiv #innerSideButtonsAllDiv #tradTipsNoteDiv p {
  color: #44596a;
  text-align: center; }
#sideButtonsAllDiv #innerSideButtonsAllDiv #email_input {
  width: 100%;
  padding: 10px;
  border: none;
  margin: 10px 0px; }
#sideButtonsAllDiv #innerSideButtonsAllDiv #sideSubmitButton .yellowButton {
  background-color: #ffbe46;
  color: #ffffff;
  width: 100%;
  display: block;
  padding: 10px 0px;
  text-align: center;
  border: none; }

/*# sourceMappingURL=main.css.map */
