.overflow-a{overflow:auto}
.table th a{color:#000}
.no-warp{white-space:nowrap}
#jq-datatables-example_filter input{width: 50px;}
.DT-search{width:70px !important;}
#jq-datatables-example_length{width:50px;}
#jq-datatables-example_length input{height: 30px;width: 50px !important;}
.change_page_all_div  input{ float:left; width:50px; height:30px; margin-left:3px;}
.icon_button {
    border: none;
    background-color: transparent;
    width: auto;
}

.style{
    float: left;
    margin: -8px;
}