.themeRow{
    background-color: #CCCCCC;
    margin: 10px 0px;
    padding: 10px 0px;
    width: 100%;
}
.dropable{
    background-color: #fff;
 min-height: 100px; 
 padding-bottom: 10px
}
.dropable:before{
    content: 'drop modules here';
    margin: 5px;
    color: #CCCCCC
}

#modules_list{ 
    height: 500px;
    overflow: auto;
    width: 20%;
    float: left; }
.fixed_modules_list{ 
position:fixed;
top:46px;
left:255px;
height:100vh;
z-index:99999999999999999;
background-color:#ffffff;
}
@media (max-width: 700px){
    .fixed_modules_list{ 

}
}
#theme_section{
     float: right;
    width:80%;
}

.module_list_button{
        display: block;
    list-style: none;
    padding: 10px;
    background-color: lavender;
    border:1px solid #999;
    width: 96%;
    margin: 5px 2%;
}
.sub_module_list_button{

    
        display: block;
    list-style: none;
    padding: 10px;
    background-color: lavender;
    border:1px solid #999;
    width: 96%;
    margin: 5px 2%;
}
.sub_module_all_div{  
    display: none;
    text-align: center;
    background-color:#CCCCCC;
    padding:1% 5%;
    margin: 0px 2%;
}
.dragable,.reorderable{
    position: relative;
    
}
#module_config_form{
    display: none;
    position:absolute;
    top:40px;
    left: 0px;
    width: 100%;
    min-width: 330px;
    background-color: #ffffff;
    z-index: 99999999999999999999;
    padding: 10px;
    
    border:1px solid #ccc;
    
}

#trash_div{
    color:#0000C2;
    font-size:48px ;
    clear: both;
    min-height: 10px;
    width: 50px !important;
    height: 60px !important;
    padding: 0px;
    text-align: center;
    background-color: transparent;
}
#trash_div.over{color:#ff0000;}
#trash_div:before{
    content: none;
}
/*_________________________________classes*/
.form{
}
.form_row{
    
    clear: both;
    margin-top: 10px ;
}
.radio_select_all_div{
    margin: 2px 0px;
}
.radio_select_all_div label{
    margin:0;
    display: inline-block;
    padding: 5px 0px;
    text-align: center;
    background-color: #cccccc;
    border:2px solid transparent;
    border-right: 1px solid #ffffff;
    
}
.radio_select_all_div label:hover{

    border-top: 2px solid #0000cc;
    cursor: pointer;
    
}
.radio_select_all_div:after{content: '';}
.radio_select_all_div label.active{
    font-weight: bold;
    background-color: #E6E6FA;
    border-top:2px solid #aaa;
}


.multi_select_all_div{
    height: 150px;
    overflow: auto;
}
.multi_select_all_div label{
    margin:0;
    width:100%;
    padding: 2px;
    
    display: inline-block;
    text-align: left;
    background-color: #cccccc;
    border:2px solid #ffffff;;
    
}

.multi_select_all_div label:hover{
    border-top: 2px solid #0000cc;
    cursor: pointer;
}
.multi_select_all_div label i{
margin-right: 6px;
color: #ffffff;
    
}
.multi_select_all_div label.active{
        font-weight: bold;
    background-color: #E6E6FA;
    border-top:2px solid #aaa;
}
.multi_select_all_div label:hover i, .multi_select_all_div label.active i{
    color:#00ff00;
}
/*______________________________END___classes*/