#add_menu_item_form_all_div{
    background-color: #444;
    color:#fff;
    padding: 10px;
    
}

#add_menu_item_form_all_div{
    display: none;
    position: fixed;
    top: 0px;
    left:0px;
    width: 100%;
    z-index: 99999;
    background-color: rgba(0,0,0,0.7);
    height: 100vh;
    text-align: center;
    padding-top:10%;
}
.close_pupup_div{
    color:#fff;
    float: right;
    padding: 10px;
    font-size: 28px;
    margin: 3px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close_pupup_div:hover{
    background-color: #000;
}
#add_menu_item_form_all_div form{
    margin-top: 10%;
    display: inline;
    text-align: left;
    
}

#create_menu_form{
 
}

/*____________________________multi_level_menu*/
.dropdown-menu   {
    border-color: #3da1bf !important;
    background-color: #5bc0de;
    padding: 0px !important;
    margin:0px;
    width: 100%;
}
.dropdown-menu  *{
    
    color:#fff !important;
}
.dropdown-menu li  {
    float: left;
}
.dropdown-menu li li {
    float: none;
}
.dropdown-menu>li
{	position:relative;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	cursor:pointer;
}
.dropdown-menu .sub-menu {
    left:0;
    position: absolute;
    top:25px;
    display:none;
    margin-top: -1px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	border-left-color:#fff;
	box-shadow:none;
}

.dropdown-menu .sub-menu .sub-menu {
    left:100%;
    top:0px;
}
.right-caret:after,.left-caret:after
 {	content:"";
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
	margin-left:5px;
}
.right-caret:after
{	border-left: 5px solid #16689e;
  
  float: right;
  margin-top: 5px;
}
.left-caret:after
{	border-right: 5px solid #16689e;
  float: right;
  margin-top: 5px;
}

#preview_menu_div{ height: 200px;}
/*_______________________END_____multi_level_menu*/